@model List<ProductModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to Mini-Market</h1>
    <p>Manage your products and inventory easily.</p>

    <a class="btn btn-primary btn-lg mb-4" asp-controller="Market" asp-action="Create" role="button">
        <i class="bi bi-plus-circle"></i> Create a Product
    </a>

    <div class="mt-4">
        <h2 class="mb-3">Products created so far</h2>
        
        @if (Model != null && Model.Any())
        {
            <div class="table-responsive">
                <table class="table table-hover table-bordered shadow-sm">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>                             
                                <th>@product.Id</th>

                                <td class="text-start">@product.Name
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"></a>
                                    </div>
                                </td>


                                <td class="text-success fw-bold">@product.Price.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-info">No products found yet.</div>
        }
    </div>
</div>

                                   