@model AccountModel
@{
    ViewData["Title"] = "Home-Page";
}

<div class="text-center">
    <h1 class="display-4">Wellcome to MiniMarket</h1>
    <p>Join the mini-market system</p>
</div>

<div class="btn-group" role="group">
    <a class="btn btn-secondary btn-block" asp-controller="Market" asp-action="DeleteView" role="button">Delete</a>
    
</div>