@model MarketModel              
@{
    ViewData["Title"] = "Edit Account";
}

    <h2 class="text-center">Edit your account here</h2>
    
    <form asp-controller="Account" asp-action="Edit" method="post" class="mt-4">
    </form>

    




